{% extends "navbar/navbar.html" %}

{% block content %}
<h1>Login</h1>
		<form method="POST">
			<div class="form-group">
				<label for="firstName">E-Mail</label>
				<input type="userName" class="form-control" id="email" aria-describedby="userName" placeholder="Enter your E-Mail" name="email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="rememberMe" id="mentor1">
				<label class="rememberMe" for="mentor1">Remember Me</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

{% endblock %}
